*{
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  box-shadow: 3px 3px 5px black;
}
.bar{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 50px;
  align-items: center;
}
.bar img{
  width: 80px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 70px;
}
li {
  color: black;
  line-height: 14px;
  font-family:  Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

